In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv('demographic.csv',names=['Age','Gender','Nationality','Knowledge of English','Frequency of Phone','Frequency of Computer']) # load the dataset into a dataFrame

In [3]:
df.head() # return the first 5 rows

,Age,Gender,Nationality,Knowledge of English,Frequency of Phone,Frequency of Computer
0,22,Female,Chinese,Intermediate,Everyday,Everyday
1,21,Female,Chinese,Proficient,Everyday,Everyday
2,22,Female,Chinese,Advanced,Everyday,5 days a week
3,21,Female,Chinese,Advanced,Everyday,Everyday
4,22,Female,Chinese,Beginner,Everyday,Everyday

In [4]:
df.shape # return the shape of data

(17, 6)

In [5]:
df.describe() # return the description of the numerical values

             Age
count  17.000000
mean   22.764706
std     2.016476
min    21.000000
25%    21.000000
50%    22.000000
75%    24.000000
max    28.000000

In [6]:
df.info() # return the data types associated with each variable

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    17 non-null     int64
 1   Gender                 17 non-null     object
 2   Nationality            17 non-null     object
 3   Knowledge of English   17 non-null     object
 4   Frequency of Phone     17 non-null     object
 5   Frequency of Computer  17 non-null     object
dtypes: int64(1), object(5)
memory usage: 944.0+ bytes

In [7]:
df.isnull().sum() # check if there are missing values

Age                      0
Gender                   0
Nationality              0
Knowledge of English     0
Frequency of Phone       0
Frequency of Computer    0
dtype: int64

In [8]:
df['Gender'].value_counts() # return a series containing counts of unique rows

Female    15
Male       2
Name: Gender, dtype: int64

In [9]:
df['Nationality'].value_counts() # return a series containing counts of unique rows

Chinese    16
Latvian     1
Name: Nationality, dtype: int64

In [10]:
df['Knowledge of English'].value_counts() # return a series containing counts of unique rows

Intermediate    7
Advanced        6
Proficient      3
Beginner        1
Name: Knowledge of English, dtype: int64

In [11]:
df['Frequency of Phone'].value_counts() # return a series containing counts of unique rows

Everyday    17
Name: Frequency of Phone, dtype: int64

In [12]:
df['Frequency of Computer'].value_counts() # return a series containing counts of unique rows

Everyday           12
5 days a week       3
2-3 days a week     2
Name: Frequency of Computer, dtype: int64